body{
  background-color: #fdf5f5;
  text-align: center;
}

h{
  font-size: 30pt;
  font-family: 'Merriweather', serif;
}

p{
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
}

#menu{
  margin-top: 5%;
}


#menu p{
  margin-top: 5%;
  margin-bottom: 5%;
}


#createJournal{
  background-color: white;
   color: black;
   text-align: center;
   display: inline-block;
   font-size: 16px;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 50px;
   padding-right: 50px;
   border-width: 2px;
   border-color: black;
}

#createJournal:hover{
  transition: .25s;
  color: white;
  background-color: black;
}

#journalScreen{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 15px);
  position: relative;
}

#journalScreen h{
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

#journalContainer{
  height: 100%;
  position: relative;
}

#subtitle{
  margin-top: 20px;
}

#journalEntry{
  width: 80%;
  height: 70%;
  opacity: 0.5;
  background-color: white;
  font-size: 14pt;
  font-family: 'Merriweather', serif;
  line-height: 1.5em;
}

#footer{
    background-color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather', serif;
}

#footer span{
  width: 33%;
}

#footer span h6{
  font-size: 20px;
  margin: auto;
}


.inactive {
  display: none !important;
}
